{% extends 'base.html' %}

{% block content %}

    <h1  class="mt-3">Изменить пароль</h1>
    <form  method="POST" style="max-width: 50rem;">
        <div class="mb-3 ">
            <label for="old_password" class="form-label">Старый пароль</label>
            <div class="col-sm-10">
                <input type="password" class="form-control {% if 'old_password' in errors_dict.keys() %} is-invalid {% endif %}" aria-describedby="validation-old-password-feedback" name="old_password" id="old_password" >
                {% if 'old_password' in errors_dict.keys() %}
                    <div id="validation-old-password-feedback" class="invalid-feedback">
                        {{ errors_dict.old_password }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="mb-3 ">
            <label for="new_password" class="form-label">Новый пароль</label>
            <div class="col-sm-10">
                <input type="password" class="form-control {% if 'new_password' in errors_dict.keys() %} is-invalid {% endif %}" aria-describedby="validation-new-password-feedback" name="new_password" id="new_password" >
                {% if 'new_password' in errors_dict.keys() %}
                    <div id="validation-new-password-feedback" class="invalid-feedback">
                        {{ errors_dict.new_password }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="mb-3 ">
            <label for="repeated_password" class="form-label">Повторите новый пароль</label>
            <div class="col-sm-10">
                <input type="password" class="form-control {% if 'repeated_password' in errors_dict.keys() %} is-invalid {% endif %}" aria-describedby="validation-repeated-password-feedback" name="repeated_password" id="repeated_password" >
                {% if 'repeated_password' in errors_dict.keys() %}
                    <div id="validation-repeated-password-feedback" class="invalid-feedback">
                        {{ errors_dict.repeated_password }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
{% endblock %}